@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  line-height: 1.6;
  color: #333;
  scroll-behavior: smooth; /* Hacer que el desplazamiento sea suave */
  padding-top: 60px;
  overflow-x: hidden; /* Evita desbordamiento horizontal */
}

/*Header*/
header {
  background: #181818;
  padding: 10px;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1000;
  top: 0;
  box-sizing: border-box; 
}
.header-container {
  display: flex;
  font-size: 22px;
  font-weight: 400;
  position:relative;
  height: 100%;
  /*max-width: 100%;
  max-height: 100%;
  align-items: center;
  width: 100%;*/
  justify-content: end;
}
.logo a{
  position: absolute;
  /*aspect-ratio: 1/1;
  width: 10%;*/
  display: flex;
  left: 0; /* Alinea el logo a la izquierda */
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo img{
  position: relative !important;
  max-height: 40px;
  border-radius: 50px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #fff;
  font-weight: bolder;
  padding-top: 4px;
}
.title-container h1{
  margin: -6px;
}
.title-container p {
  font-size: 8px;
}
.menu-icon {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: white;
  right: 0px;
  position: absolute;
  text-align: right;
}
.menu-icon h1 {
  white-space: nowrap; /* Evita que el texto haga saltos de línea */
}
.icon.open, .icon{
  width: 40px;
}
.hamburger-react{
  width: 40px !important;
}
.menu-text {
  display: flex;
  position: relative;
  align-items: center;
  color: white;
}
/*Barra de navegacion*/
nav{
  display: none;
}
nav.open {
  display: flex;
  top: 60px;
  left: 0px;
  color: #fff;
  background-color: #000000ed;
  width: 100%;
  max-width: 100%;
  position: absolute;
  font-weight: bolder;
  padding-bottom: 10px;
}
nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
nav ul li {
  display: inline;
  margin-left: 20px;
}
nav ul li button {
  color: #ffffff;
  border: none;
  background-color: transparent;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;

}

/*PAGE: SERVICIOS*/
.titulo-servicios{
  display: flex;
  align-items: center;
}
.titulo-servicios h1{
  border-radius: 10px;
  margin: 0 30px;
  position: absolute;
  padding: 15px 6px;
  font-size: 20px;
  background: #000000d9;
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
}

/*PAGE: CLIENTES*/
.titulo-clientes{
  position: relative;
  padding: 15px 6px;
  font-size: 27px;
  text-align: center;
  color: #000000;
  font-weight: bolder;
  padding-top: 50px;

}
.clientes {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 40px;
  padding: 50px 40px;
}
.clientes img{
  border-radius: 10px;
  box-shadow: 10px 10px 0 rgb(0 0 0 / 37%), 0 -5px 0 0 rgba(255, 255, 255, .1);
}
/* Estilos para el botón de contacto y el menú desplegable */
.contact-menu {
  position: relative;
  font-weight: bolder;
}
#contact-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#contact-btn .arrow {
  margin-left: 5px;
  font-size: 0.9rem;
}
.dropdown-content {
  display: none; /* Oculta el menú desplegable por defecto */
  position: absolute;
  top: 200%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 4px;
  color: #333;
  border: 1px solid #ddd;
  z-index: 1;
  font-weight: bolder;
}
.contact-menu.open .dropdown-content {
  display: block; /* Ocultar el contenido del dropdown inicialmente */
}
.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}
.dropdown-content a:hover {
  background-color: #e0e0e0;
}

/* Carrusel de imágenes */

.carousel {
  overflow: hidden;
  padding-bottom: 50px;
}
.carousel-inner {
  display: flex;
  width: 100%; /* 100% por cada una de las 4 imágenes */
  height: 100%;
  transition: transform 2s ease-in-out;
}
.carousel-item {
  flex: 1 0 100%;
  height: 100%;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Secciones*/
section {
  position:relative;
  overflow: hidden;
  /*height: calc(100vh - 90px); /* Ajusta la altura para tener en cuenta el encabezado */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 2rem; /* Padding-top igual a la altura del encabezado */
  font-weight: bolder;
}
section .content {
  max-width: 1200px; 
  text-align: center;
}

.servicios{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 40px;
  padding-top: 2rem;
  /*padding-bottom: 5rem /* 80px */;
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity)) /* #f9fafb */;
}
.nuestros-servicios{
  background-color: #333;
  width: 127%;
  padding: 20px;
}
.nuestros-servicios h1 {
  color: #fff !important;
}
.servicios img{
  position:  relative !important;
  width: 30% !important;
}
.servicios h1{
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity)) /* #1f2937 */;
}
.servicios p{
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity)) /* #4b5563 */;
  margin-top: 1rem /* 16px */;
  max-width: 42rem /* 672px */;
}
.social-media, .branding, .meta-ads {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*NO VA
#social-media, #branding, #meta-ads {
  padding: 4rem 1rem; 
}
#social-media .content, #branding .content, #meta-ads .content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto; 
}
#social-media h2, #branding h2, #meta-ads h2{
  font-size: 5rem; 
  margin-bottom: 1.5rem; 
  color: #ffffff;
}

.slide-toggle {
  background: transparent;
  color: #333;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.slide-toggle i {
  font-size: 3rem;
}
.slide-page {
  position: absolute;
  display: flex;
  right: -100%; 
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(242, 222, 255);
  transition: right 0.5s ease;
  z-index: 100; 
}

#social-media .slide-bar, #branding .slide-bar, #meta-ads .slide-bar  {
  width: 20%;
  background: rgb(241, 200, 241);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; 
}
#social-media .slide-bar {
  background: rgb(241, 200, 241);
}
#branding .slide-bar {
  background: rgb(202, 255, 244);
}
#meta-ads .slide-bar {
  background: rgb(163, 250, 182);
}
.slide-bar h2 {
  transform: rotate(-90deg);
  transform-origin: center center;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.slide-content {
  width: 80%;
  padding: 100px;
  border: 1px solid #ffffff; 
  text-align: center;
  color:#000000;
  font: 3em sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slide-content h3 {
  font-size: 4rem;
}
.slide-content p {
  font-size: 1.5rem;
}
.slide-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 101; 
}
.slide-close::before {
  font-size: 3rem; 
  font-weight: bold;
  color: #000000; 
  display: block;
}

.slide-page.open {
  right: 0;
}
.no-slide-content {
  padding: 0px;
  height: 20%;
}
*/

/* Diseño de equipo */
#sobre-nosotras h2{
  font-size: 5rem; /* Aumenta el tamaño de los encabezados */
  margin-bottom: 1.5rem; /* Añade más espacio debajo del encabezado */
  color : #fff;
  font-weight: bolder;
}
.team {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 40px;
}
.member {
  flex: 1;
  margin: 0 1rem;
  text-align: center;
}
.member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
/* Estilo general para el formulario */
form {
  font-weight: bolder;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  max-width: 800px; /* Puedes ajustar el tamaño máximo según sea necesario */
  height: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #333333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  gap: 20px;
}
.form-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}
.form-header h2 {
  font-size: 200%;
}
.form-header p {
  padding-top: 3%;
  font-size: 90%;
  color: #ffffff;
}
.form-cont {
  display: flex;
  justify-content: space-between;
  max-width: 800px; /* Puedes ajustar el tamaño máximo según sea necesario */
  flex-direction: column;
}
/* Estilo para la columna izquierda (inputs de nombre, email y teléfono) */
.form-left {
  display: flex;
  flex-direction: column;
}

/* Estilo para la columna derecha (mensaje y botón) */
.form-right {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Estilo común para todos los inputs y textarea */
form input,
form textarea {
  color: #fff;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #333333;
}

input::placeholder, textarea::placeholder {
  color: #cccccc;
}
form textarea{
  min-width: 300px;
  max-width: 420px;
  min-height: 50px;
  max-height: 300px;
}

/* Estilo para el botón de envío */
form button {
  width: 40%;
  padding: 12px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
form button:hover {
  background-color: #45a049;
}
.contact-section {
  font-weight: bolder;
  display: flex;
  align-items: center;
  margin: 1px 0;
  padding: 20px;
  background-color: #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.form-container,
.map-container {
  margin: 10px;
}
.form-container {
  padding-right: 20px;
  align-items: center;
  width: 60%;
}
 .pin {
  font-weight: bolder;
  width: 40%; 
 }

/*Copyright*/
footer {
  background: #000000;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}


/* Media Queries */

  nav ul {
      flex-direction: column;
      width: 100%;
  }

  nav ul li {
      margin: 0.5rem 0;
  }

  section {
      padding: 2rem 1rem;
  }

  #social-media h2, #branding h2, #meta-ads h2 {
      font-size: 2rem; 
  }

  #social-media p, #branding p, #meta-ads p {
      font-size: 1rem; 
  }
/* Estilo responsivo para pantallas más pequeñas */
/*@media (max-width: 700px) {
  form {
    flex-direction: column;
  }
  
  .form-left,
  .form-right {
    margin-right: 0;
  }
}*/
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
/*@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}*/